/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #9acd32;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}
/* ------------------------------ */
.main__track {
	margin: 0 auto;
}
.track {
	position: relative;
	width: 900px;
	height: 650px;
	border: 120px solid #2f353b;
	border-radius: 50px;
}
.track__container {
	max-width: 900px;
	margin: 0 auto;
}
.track__line {
	position: absolute;
	top: -65px;
	left: -65px;
	width: 795px;
	height: 545px;
	border: 15px dashed #fff;
	border-radius: 50px;
}
.track__car {
}
.car {
	position: relative;
	top: -110px;
	left: 0;
	height: 30px;
	width: 70px;
}
.car_first {
	animation: drive-first 15s forwards linear 9s;
}
@keyframes drive-first {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(310px, 60px);
	}
	20% {
		transform: translate(620px, 60px);
	}
	22% {
		transform: translate(700px, 60px) rotate(90deg);
	}
	37% {
		transform: translate(670px, 470px) rotate(90deg);
	}
	39% {
		transform: translate(670px, 530px) rotate(180deg);
	}
	61% {
		transform: translate(-20px, 530px) rotate(180deg);
	}
	62% {
		transform: translate(-55px, 530px) rotate(270deg);
	}
	72% {
		transform: translate(-55px, 30px) rotate(270deg);
	}
	73% {
		transform: translate(-50px, 0px) rotate(360deg);
	}
	100% {
		transform: translate(300px, 0) rotate(360deg);
	}
}
.car_second {
	top: -70px;
	animation: drive-second 18s forwards linear 9.8s;
}
@keyframes drive-second {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(620px);
	}
	22% {
		transform: translate(710px) rotate(90deg);
	}
	37% {
		transform: translate(700px, 470px) rotate(90deg);
	}
	39% {
		transform: translate(705px, 530px) rotate(180deg);
	}
	61% {
		transform: translate(-20px, 520px) rotate(180deg);
	}
	62% {
		transform: translate(-60px, 520px) rotate(270deg);
	}
	72% {
		transform: translate(-55px, 30px) rotate(270deg);
	}
	73% {
		transform: translate(-50px, 0px) rotate(360deg);
	}
	100% {
		transform: translate(150px, 0) rotate(360deg);
	}
}
.car__body {
	background-color: #ed760e;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	animation: shake 0.7s 10;
}
@keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0px, 0.5px);
	}
	50% {
		transform: translate(0.5px, 0.3px);
	}
	75% {
		transform: translate(0.7px, 0px);
	}
	100% {
		transform: translate(0, 0);
	}
}
.car__body_purple {
	background-color: #ff00ff;
	animation-delay: 0.3s;
}
.car__windshield {
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(0, -50%);
	height: 22px;
	width: 16px;
	background-color: rgba(31, 143, 255, 0.7);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.car__back-window {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%);
	height: 22px;
	width: 6px;
	background-color: rgba(31, 143, 255, 0.7);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.car__headlight {
	position: absolute;
	top: 72%;
	left: 88%;
	height: 5px;
	width: 5px;
	background-color: #ffff00;
	border-radius: 100% 0% 100% 0% / 87% 22% 78% 13%;
}
.car__headlight_top {
	top: 12%;
	transform: rotate(90deg);
}
.car__back-light {
	position: absolute;
	top: 72%;
	left: 0;
	transform: rotate(90deg);
	height: 5px;
	width: 5px;
	background-color: rgb(221, 32, 32);
	border-radius: 88% 12% 100% 0% / 87% 39% 61% 13%;
}
.car__back-light_top {
	top: 12%;
	transform: rotate(-180deg);
}
.car__body_purple::before,
.car__body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 68%;
	transform: translate(0, -100%);
	height: 3px;
	width: 3px;
	background-color: #ed760e;
	border-radius: 19% 81% 100% 0% / 15% 100% 0% 85%;
}
.car__body_purple::after,
.car__body::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 68%;
	transform: rotate(90deg);
	height: 3px;
	width: 3px;
	background-color: #ed760e;
	border-radius: 19% 81% 100% 0% / 15% 100% 0% 85%;
}
.car__body_purple::before,
.car__body_purple::after {
	background-color: #ff00ff;
}
.car__exhaust {
	position: absolute;
	top: 15px;
	left: -3px;
	height: 5px;
	width: 5px;
	opacity: 0;
	background-color: rgba(76, 81, 74, 0.8);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	animation: exhaust 2s 10 linear;
}
@keyframes exhaust {
	0% {
		transform: translate(0) rotate(0);
		opacity: 0.1;
	}
	25% {
		transform: translate(-1px, -3px) rotate(90deg);
		opacity: 0.3;
	}
	50% {
		transform: translate(-3px, 1px) rotate(40deg);
		opacity: 0.6;
	}
	100% {
		transform: translate(-10px, -2px) rotate(120deg);
		opacity: 1;
	}
}
.track__traffic-lights {
}
.traffic-lights {
	position: relative;
	top: 0;
	left: 20%;
	height: 200px;
	width: 400px;
	background-color: #464451;
	opacity: 0;
	animation: traffic-lights 12s forwards;
}
@keyframes traffic-lights {
	0% {
		transform: translate(0, -100%);
	}
	15% {
		transform: translate(0);
		opacity: 1;
	}
	75% {
		transform: translate(0);
		opacity: 1;
	}
	100% {
		transform: translate(0, -100%);
		opacity: 0;
	}
}
.traffic-lights__red {
	position: absolute;
	top: 40px;
	left: 10px;
	height: 100px;
	width: 100px;
	background-color: rgb(160, 19, 19);
	border-radius: 50%;
	animation: red-light 3s 1.8s;
}
@keyframes red-light {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.5, 1.5, 1);
		box-shadow: 0px 0px 65px 25px rgba(255, 0, 0, 0.9) inset;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
.traffic-lights__yellow {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%);
	height: 100px;
	width: 100px;
	background-color: rgb(145, 145, 13);
	border-radius: 50%;
	animation: yellow-light 3s 4.8s;
}
@keyframes yellow-light {
	0% {
		transform: translate(-50%) scale3d(1, 1, 1);
	}
	50% {
		transform: translate(-50%) scale3d(1.5, 1.5, 1);
		box-shadow: 0px 0px 65px 25px rgba(238, 255, 0, 0.9) inset;
	}
	100% {
		transform: translate(-50%) scale3d(1, 1, 1);
	}
}
.traffic-lights__green {
	position: absolute;
	top: 40px;
	right: 10px;
	height: 100px;
	width: 100px;
	background-color: rgb(19, 99, 19);
	border-radius: 50%;
	animation: green-light 3s 7.8s;
}
@keyframes green-light {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.5, 1.5, 1);
		box-shadow: 0px 0px 65px 25px rgba(21, 255, 0, 0.9) inset;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
